// Breakpoints
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;
$desktop-small: 1440px;
$desktop-medium: 1600px;
$desktop-large: 1920px;

@font-face {
  font-family: 'The Seasons';
  src: url("../src/assets/font/The_Seasons/TheSeasonsRegular.ttf") format('truetype');
}

@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 300;
  src: url("../src/assets/font/Founders_Grotesk/FoundersGrotesk-Light.otf") format('opentype');
}

@font-face {
  font-family: 'Founders Grotesk';
  font-weight: medium;
  src: url("../src/assets/font/Founders_Grotesk/FoundersGrotesk-Medium.otf") format('opentype');
}

@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 400;
  src: url("../src/assets/font/Founders_Grotesk/FoundersGrotesk-Semibold.otf") format('opentype');
}

@font-face {
  font-family: 'Founders Grotesk';
  font-weight: bold;
  src: url("../src/assets/font/Founders_Grotesk/FoundersGrotesk-Bold.otf") format('opentype');
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Founders Grotesk", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0;
}

[data-scrollbar] {
  position: fixed !important;
}

p {
  font-size: 20px;
  line-height: 1.45;
  text-align: left;
  font-weight: 300;

  @media screen and (min-width: $tablet) {
    font-size: #{"clamp(14px, 1vw + 0.6rem, 20px)"};
  }

  @media screen and (min-width: $desktop-medium) {
    font-size: 1.6em;
  }
}

h1 {
  font-family: "The Seasons", serif;
  //font-size: 2.28rem;
  font-size: 3vw;
  font-weight: 700;
  margin: 0;
}

#p1,
#p2-compressed,
#p3-compressed,
#p4-compressed {
  visibility: hidden;
}

.App {
  position: relative;
  font-family: "Founders Grotesk", sans-serif;
  font-weight: 300;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  .nav-links-wrapper {
    position: fixed;
    top: 64px;
    right: 0;

    .nav-links {
      position: relative;

      #clipped {
        height: 116px;
        width: 100px;
        position: relative;
        display: block;
        -webkit-clip-path: url(#clip);
        clip-path: url(#clip);
        cursor: pointer;
        transform: translateX(0);
        margin: 0 36px;
        background: white;
        overflow: hidden;

        img {
          object-fit: cover;
          height: 892px;
          width: 249px;
        }
      }

      ul {
        list-style: none;
        position: absolute;
        width: 245px;
        top: 0;
        right: 97px;
        margin: 0;

        li:first-child {
          h3 {
            visibility: visible;
            opacity: 1;
          }

          span {
            visibility: hidden;
          }
        }

        li {
          position: relative;
          padding-bottom: 8px;
          width: 100%;

          h3 {
            margin: 0;
            padding: 0;
            font-weight: 300;
            text-align: right;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            line-height: 24px;
            visibility: hidden;
            opacity: 0;
          }

          span {
            position: absolute;
            top: 0;
            right: -60px;
            width: 96px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
    }

    @media screen and (min-width: $desktop) {}
  }


  >section div {
    height: 100%;
    width: 100%;
  }

  section {
    aspect-ratio: 16/9;
    overflow: hidden;
  }

  section .section-wrapper>div {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1600px;
    max-height: 900px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      grid-template-rows: repeat(8, 1fr);
      column-gap: 16px;
      padding: 32px;
    }

    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      grid-template-rows: repeat(8, 1fr);
      column-gap: 32px;
      padding: 64px;
    }
  }

  .parallax-bg {
    position: absolute;
    width: 740px;
    height: 928px;
    overflow: hidden;
    z-index: 1;
    filter: sepia(0.2) blur(0.4);
    opacity: 0;
    display: none;


    #inner {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;


      #bounding-box {
        width: 200px;
        height: 200px;
        z-index: 10;
      }

      #parallax-img {
        position: fixed;
        width: 1920px;
        height: auto;
        transform: scale(1.2, 1.2)
      }
    }

  }

  section.kelola-about>div {

    .section-right {
      grid-column: 11 / span 6;
      grid-row: 2 / span 6;
      display: flex;
      flex-direction: column;
      padding: 32px;
      row-gap: 48px;

      .logo {
        height: fit-content;

        img {
          width: 180px;
          height: auto;
        }
      }

      .text-about {
        max-width: 557px;

        >h1 {
          text-align: left;
        }
      }
    }
  }

  section.kelola-properties>div {
    .section-top {
      grid-column: 5 / span 8;
      grid-row: 1 / span 2;
    }

    .section-bottom {
      grid-column: 1 / span 16;
      grid-row: 3 / span 6;

      .items {
        display: flex;
        flex-direction: row;
        column-gap: 32px;

        >div {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 24px;

          .image {
            position: relative;
            background-color: grey;
            height: 100%;
            aspect-ratio: 2 /3;
            overflow: hidden;

            img {
              position: absolute;
              left: -50%;
              top: 0;
              width: auto;
              height: 100%;
            }
          }

          .title {
            font-size: 2rem;
            letter-spacing: .1rem;
            text-transform: uppercase;
            font-weight: 200;
            height: fit-content;
          }
        }
      }
    }
  }

  section.kelola-perks {
    aspect-ratio: 16/13;

    >div {
      background-image: url("../public/Slider-The-Tamora-extended.png");
      background-size: cover;
    }
  }

  section.kelola-partners>div {
    .section-middle {
      grid-column: 5 / span 8;
      grid-row: 1 / span 3;
      display: flex;
      flex-direction: column;
      column-gap: 24px;
    }
  }
}

@media screen and (max-width: 1850px) {
  .App .parallax-bg {
    width: 30%;
    height: auto;
    aspect-ratio: 5 / 6;
  }
}